[submodule "extends"]
	path = extends
	url = git@github.com:CloudCoreo/cloudcoreo-vpc-public.git
[submodule "stack-private-vpc"]
	path = stack-private-vpc
	url = git@github.com:CloudCoreo/cloudcoreo-vpc-private.git

